@page "/actors/edit/{Id:int}"
@using Proy1.Client.Pages.Forms
<div>
    <ActorsForm Actor="Actor" OnValidSubmit="Edit"/>

</div>
@code {


    [Parameter] public int Id {get; set;}
    public Actor Actor;

    protected override void OnInitialized()
    {
        Actor = new Actor(){
            Id = 2,
            Name = "Dwayne Johnson", 
            Biography = "Dwayne Douglas Johnson​ es un actor, rapero y luchador profesional estadounidense, conocido popularmente como «La Roca» o «The Rock».​Se desempeñó como luchador profesional para la WWE hasta su retirada oficial en 2019, con el objetivo de centrarse en su carrera artística",
            BirthDate = DateTime.Today
        };
    }
    
    void Edit(){
        
        Console.WriteLine(Actor.Name);
    }    
}