@page "/counter"

@using Proy1.Client.Pages.Components
@inject IServiceActor actor
<div class="jumbotron">
    <ActorComponent Actors="Actors"/>
</div>

@code {
    private List<Actor> Actors;
        protected override void OnInitialized(){
            Actors = actor.GetActors();
        }
}

