@page "/Categories/create"
@using Proy1.Client.Pages.Forms
<div class="container">
    <div class="jumbotron">
        <CategoryForm Category="Category" OnValidSubmit="Create"></CategoryForm>
    </div>
</div>
@code {
    public Category Category = new Category();
    void Create(){
        Console.WriteLine(Category.Name);
    }
}