@page "/Categories/edit/{Id:int}"
@using Proy1.Client.Pages.Forms
<div class="container">
    <div class="jumbotron">
        <CategoryForm Category="Category" OnValidSubmit="Edit"></CategoryForm>
    </div>
</div>
@code {
    [Parameter] public int Id { get; set; }

    public Category Category = new Category();

    protected override void OnInitialized()
    {
        Category = new Category()
        {
            Id = Id,
            Name = "Comedia"
        };
    }
    void Edit()
    {
        Console.WriteLine($"Actualizando el nombre de la categoría {Category.Name}");
    }
}