@page "/Categories"
@using Proy1.Client.Pages.Forms
<div class="container">
    <div class="jumbotron">
        <div class="mb-3">
            <a href="Categories/create" class="btn btn-info">Agregar</a>
        </div>
    </div>
</div>
